body {
    background: #F3F5FC;;
    width: 1440px;
    height: auto;
}

.frame6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logo {
    width: 120px;
    height: 48px;
}

.vector {
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    color: #0A3871;
    width: 31.09px;
    height: 48px;
}

.retangulo {
    position: absolute;
    width: 400px;
    height: 780px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.texto {
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: none;
    outline: none;
    border: none;
    resize: none;
}

#areaTexto textarea::placeholder {
    color: #0A3871;
}

.frame3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 780px;
}

#button1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
}

#button2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.textoBotaoc {
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.textoBotaod {
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

footer {
    position: absolute;
    text-align: center;
    top: 850px;
    width: 1440px;
    margin: auto;
}

footer p {
    padding: 10px;
}

footer a:visited {
    text-decoration: none;
    color: black;
}

#frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 750px;
}

#frame1 img {
    width: 16px;
    height: 16px;
}

#frame1 p {
    width: 228px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}

#imgRet {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 163px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    left: 32px;
    top: 509px;
}

.msg {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.msg2 {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

#copiar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 700px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: none;


}

.textoCopiar {
    width: 288px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

#resultado {
    position: absolute;
    width: 336px;
    height: 670px;
    left: 32px;
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    border: none;
    outline: none;
    resize: none;
}